1.2/Source/.vs/*
1.2/Source/bin/*
1.2/Source/obj/*
1.2/Source/Source-DLLs/*.dll

1.3/Source/.vs/*
1.3/Source/bin/*
1.3/Source/obj/*
1.3/Source/Source-DLLs/*.dll

1.4/Source/.vs/*
1.4/Source/bin/*
1.4/Source/obj/*
1.4/Source/Source-DLLs/*.dll
